/* Styles for all API content; both chm and online. */
div.api-code
{
	padding:5px;
}

div.api-outline
{
    border:1px solid rgb(187,187,187);
    border-radius:5px;
    background-color:rgb(255,255,200);
    padding: 10px;
	padding-bottom: 0px;
	margin: 3px;
}

pre.api-code
{
    border:1px solid rgb(187,187,187);
    border-radius:5px;
    background-color:rgb(245,245,240);
    padding:8px;
    display: block;
    word-wrap: normal;
    overflow: auto;
    white-space: pre;
	margin-top: 5px;
	margin-bottom: 0px;
    font-size: 12px;
    tab-size: 4;
}

table.api-list
{
    border-top:1px solid rgb(187,187,187);
    border-left: 1px solid rgb(187,187,187);
    width:100%;
    border-collapse: collapse;
}

table.api-listnarrow
{
    border-top:1px solid rgb(187,187,187);
    border-left: 1px solid rgb(187,187,187);
    width:85%;
    border-collapse: collapse;
}

td.api-list
{
    border-bottom:1px solid rgb(187,187,187); 
    border-right: 1px solid rgb(187,187,187);
    padding-top:10px;
    padding-bottom:10px;
    padding-right:5px;
    padding-left:5px;
    vertical-align:top;
}

/* This maintains the border around the tabbed area. */
.tabsOutline-api
{
	border: 1px solid #aaaaaa;
}

.api-indent
{ 
    margin-left: 40px; 
}

span.api-new
{
    font-family:Impact;
    color:rgb(256,0,0);
    font-size:10.0pt;
}

h1.api
{
    margin-bottom: 0px;
}

h2.api
{
    margin-bottom: 0px;
}

h3.api
{
    margin-bottom: 0px;
}

h4.api
{
    margin-bottom: 0px;
}

p.api
{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt;
    margin-left:0in;
}


/*
ol
{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt;
    margin-left:20px;
    font-family:Calibri;
    font-size:11.0pt;
}

ul
{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt;
    margin-left:20px;
    font-family:Calibri;
    font-size:11.0pt;
}

ul.indent
{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt;
    margin-left: 80px;
    font-size:11.0pt;
}

li
{
    padding-top:3px;
    font-size:11.0pt;
}

*/